        </div>

        <footer class="py-4 bg-dark text-white-50">
            <div class="container">
                <p class="m-0 text-center text-white">
                    Copyright &copy; Your Website <%=new Date().getFullYear() %>
                </p>
            </div>
        </footer>

        
        <script type="text/javascript" scr="/public/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" scr="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
